.App {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
}
video{
  margin-bottom: 10px;
}
img {
   margin-right: 300px;
   margin-bottom: 10px;
}

a{
  text-decoration: none;
  color : black
}

.save{
  /* margin-left: 10px; */
  display: flex;
  align-items: center;
  justify-content: center;
 margin: 10px;
}

/* .btn-style{
  margin-top: 20px;
} */

.croppedbtn{
  display: flex;
  margin-left: 10px;
  
}

